* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor-360 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 675px;
    width: 100%;
    background-color: white;
}

.slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 675px;
    width: 100%;
    background-color: white;
}

#gira {
    height: 675px;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 10;
}

#gira,
.barra-navegacion {
    grid-column: 1/2;
    grid-row: 1/2;
}

.transicion-header {
    width: 100%;
    height: 137px;
    background: transparent linear-gradient(0deg, #FFFFFF 0%, #80808000 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    align-self: flex-end;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 30;
}

.barra-navegacion {
    width: 1000px;
    height: 60px;
    background: #FCBB17 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 90px;
    justify-self: center;
    grid-row: 1/2;
    z-index: 20;
}

.enlace-navegacion {
    height: 60px;
    width: 100%;
    background-color: #FCBB17;
    border: 1px solid #000000;
    text-decoration: none;
    display: grid;
    justify-items: center;
}

.texto-enlace {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/6px BentonSans;
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 14px/6px BentonSans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    margin-top: 14%;
}

.circulo {
    width: 150px;
    height: 150px;
    background: #fff4de 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    border-radius: 50%;
    margin-top: -45px;
    display: grid;
    justify-self: center;
}

.logo-cabecera {
    width: 140px;
    height: 42px;
    background: transparent url('../img/LOGO/LOGO.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    align-self: center;
    background-size: cover;
    justify-self: center;
}

.encabezado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    opacity: 0;
    transition: 2s all ease-in-out;
    position: sticky;
    top: 0;
}

.encabezado_aparece {
    opacity: 1;
}